@model WebApplication1.Models.Link

@{
    ViewData["Title"] = "Details";
    string shortURL = string.Empty;
    var host = Context.Request.Host.Value.ToString();
}

<h1>Details</h1>

<div>
    <h4>Link</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCcreation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCcreation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
